:root {
  --main-text-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
}
body {
  padding: 0 5vw;
}

body > header {
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  max-height: 10vh;
  width: auto;
}

.nav__links {
  list-style: none;
}

.nav__links > li {
  padding: 2px 5px;
  margin: 0px 5px;
}

.nav__links > li a {
  font-weight: bold;
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 0.3s ease 0s;
}

.nav__links > li a:hover {
  color: chocolate;
}

.lang_btn span {
  font-weight: bold;
  margin-inline-start: 5px;
}

.lang_btn span:hover {
  cursor: pointer;
}

.hero {
  justify-content: space-between;
  align-items: center;
}
.hero .text {
  width: 55%;
  margin-right: 50px;
}
.hero .text * {
  margin-top: 20px;
  font-size: 1.3em;
}
.hero .text h1 {
  font-size: 4em;
}
.hero .text h2 {
  font-size: 2em;
}
.hero img {
  max-width: 30vw;
  height: auto;
}

article {
  margin-top: 2em;
}
article h1 {
  font-size: 2.5em;
}
article h2 {
  margin-top: 1em;
  font-size: 2em;
  text-transform: uppercase;
}
article p {
  margin-top: 1em;
  text-align: justify;
  text-indent: 3em;
  font-size: 1.2rem;
}
